{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prashant Singh's Data Engineering|Fintech Blog</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico">
    {% block custom_css %}{% endblock %}

    <!-- FontAwesome JS-->
    <script defer src="{% static 'assets/fontawesome/js/all.min.js' %}"></script>

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{% static 'assets/css/theme-2.css' %}">

</head>

<body>

<header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="{% url 'post_list' %}">Prashant's Blog</a>
    </h1>

    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column">
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'assets/images/blog/profile.jpg' %}"
                     alt="image">

                <div class="bio mb-3">Hi, my name is Prashant Singh. Python developer with 10 years' finance and fintech
                    experience, specializing in financial data analytics and machine learning. Proficient in data
                    processing with frameworks like PySpark, Kafka, Hadoop, Airflow.<br><a href="{% url 'about' %}">Find
                        out more about me</a></div><!--//bio-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <li class="list-inline-item"><a href="https://x.com/prashantfintech"><i
                            class="fab fa-twitter fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/prashant-fintech/"><i
                            class="fab fa-linkedin-in fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://github.com/prashant-fintech"><i
                            class="fab fa-github-alt fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="https://stackoverflow.com/users/26364077/prashant-fintech"><i
                            class="fab fa-stack-overflow fa-fw"></i></a></li>
                </ul><!--//social-list-->
                <hr>
            </div><!--//profile-section-->

            <ul class="navbar-nav flex-column text-start">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'post_list' %}"><i class="fas fa-home fa-fw me-2"></i>Blog
                        Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-user fa-fw me-2"></i>About Me</a>
                </li>
            </ul>

        </div>
    </nav>
</header>

<div class="main-wrapper">

    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center single-col-max-width">
            <h2 class="heading">Personal Blog - Python, AWS, Big Data and Data Science</h2>
            <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
            <div class="single-form-max-width pt-3 mx-auto">
                <form class="signup-form row g-2 g-lg-2 align-items-center">
                    <div class="col-12 col-md-9">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="semail1" class="form-control me-md-1 semail"
                               placeholder="Enter email">
                    </div>
                    <div class="col-12 col-md-2">
                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </div>
                </form><!--//signup-form-->
            </div><!--//single-form-max-width-->
        </div><!--//container-->
    </section>

    {% block content %}
    {% endblock %}

    <footer class="footer text-center py-2 theme-bg-dark">

        <small class="copyright">©
            <script>document.write(new Date().getFullYear());</script>
            Designed with <span class="sr-only">love</span><i class="fas fa-heart" style="color: #fb866a;"></i> by
            Prashant Singh</small>
    </footer>

</div><!--//main-wrapper-->
<script>
    var disqus_config = function () {
        this.page.url = '{{ request.build_absolute_uri }}';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '{{ post.id }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function () {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://singhprashantin.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<script id="dsq-count-scr" src="//singhprashantin.disqus.com/count.js" async></script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
                                                  rel="nofollow">comments powered by Disqus.</a>
</noscript>

<!-- Javascript -->
<script src="{% static 'assets/plugins/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>


</body>
</html>

