{% extends "base.html" %}
{% load static %}
{% block content %}
    <article class="about-section py-5">
        <div class="container">
            <h2 class="title mb-3">About Me</h2>

            <p>I am Prashant, a seasoned Python Developer and Financial Data Analyst with a decade of experience in the
                finance and fintech sectors. This blog is my endeavor to share insights, experiences, and knowledge
                accumulated over the years to help professionals and enthusiasts alike navigate and excel in this
                dynamic field.</p>
            <figure><img class="img-fluid" src="{% static 'assets/images/about-me.jpg' %}" alt="image"></figure>
            <h5 class="mt-5">About The Blog</h5>
            <p>This blog is dedicated to exploring the intersection of machine learning, data science, data engineering,
                and finance. Founded by Prashant, a seasoned Python Developer and Financial Data Analyst, this blog aims
                to provide insightful and practical content for professionals and enthusiasts in the finance and fintech
                sectors.</p>
            <h5 class="mt-5">Our Mission</h5>
            <p>
                our mission is to bridge the gap between complex financial concepts and cutting-edge technological
                advancements. We strive to empower our readers with the knowledge and tools they need to excel in their
                careers and make informed decisions in the ever-evolving financial landscape.
            </p>
            <h5 class="mt-5">What You Will Find Here</h5>
            <ol class="mb-5">
                <li class="mb-2">
                    <p>
                        <strong>In-Depth Tutorials:</strong> Comprehensive guides on machine learning algorithms, data
                        processing techniques, and data engineering practices tailored specifically for financial
                        applications.
                    </p>
                </li>
                <li class="mb-2">
                    <p>
                        <strong>Case Studies:</strong> Real-world examples and case studies showcasing the application
                        of machine learning and data science in solving financial problems, including credit risk
                        modeling, fraud detection, and predictive analytics.
                    </p>
                </li>
                <li class="mb-2">
                    <strong>Industry Insights:</strong> Articles discussing the latest trends, technologies, and
                    regulatory changes in the finance and fintech industries. Stay updated with the evolving landscape
                    and understand the implications of new developments.
                </li>
                <li class="mb-2">
                    <strong>Practical Tips:</strong> Tips and best practices for implementing machine learning models,
                    developing efficient data pipelines, and automating financial processes. Learn how to enhance your
                    workflows and achieve better outcomes.
                </li>
            </ol>
            <h5 class="mt-5">My Skills</h5>
            <p>
                I bring over a decade of experience in the finance and fintech sectors, with a strong focus on machine
                learning, data science, and data engineering. My journey has equipped me with a diverse set of skills
                and a deep understanding of the challenges and opportunities in the financial industry. Here's a
                detailed overview of my skills and experiences:
            </p>
            <h6 class="mt-5">Technical Skills</h6>
            <ol class="mb-5">
                <li class="mb-2">
                    <div><strong>Programming Languages</strong></div>
                    <ul class="mb-5">
                        <li>
                            <p><strong> Python: </strong> Proficient in Python, with extensive experience in developing
                                data processing scripts, machine learning models, and automation tools.</p>
                        </li>
                        <li>
                            <p><strong> Java: </strong> Skilled in Java for building robust and scalable applications.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="mb-2">
                    <div><strong>Data Science and Machine Learning</strong></div>
                    <ul class="mb-5">
                        <li>
                            <p><strong> Pandas: </strong> Expert in data manipulation and analysis using Pandas for
                                efficient data handling</p>
                        </li>
                        <li>
                            <p><strong> Numpy: </strong> Proficient in numerical computing with Numpy, enabling complex
                                mathematical operations on large datasets.
                            </p>
                        </li>
                        <li>
                            <p><strong> SciPy: </strong> Experienced in Scientific Computing and Technical Computing
                                with SciPy.
                            </p>
                        </li>
                        <li>
                            <p><strong> Scikit-learn: </strong> Skilled in using Scikit-learn for implementing machine
                                learning algorithms and models.
                            </p>
                        </li>
                        <li>
                            <p><strong> PyCaret: </strong> Familiar with PyCaret for low-code machine learning model
                                deployment.
                            </p>
                        </li>
                        <li>
                            <p><strong> XGBoost: </strong> Experienced in using XGBoost for building high-performance
                                gradient boosting models.
                            </p>
                        </li>
                        <li>
                            <p><strong> Matplotlib: </strong> Proficient in data visualization with Matplotlib, creating
                                insightful visual representation of data.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="mb-2">
                    <div><strong>Data Engineering</strong></div>
                    <ul class="mb-5">
                        <li>
                            <p><strong> Apache Airflow: </strong> Experienced in orchestrating complex data workflows
                                and building robust data pipelines using Apache Airflow</p>
                        </li>
                        <li>
                            <p><strong> AWS Glue </strong> Skilled in managing and processing large datasets with AWS
                                Glue, ensuring efficient ETL (Extract, Transform, Load) operations.
                            </p>
                        </li>
                        <li>
                            <p><strong> PySpark </strong> Proficient in distributed data processing with PySpark,
                                enabling large-scale data analysis.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="mb-2">
                    <div><strong>Web Development</strong></div>
                    <ul class="mb-5">
                        <li>
                            <p><strong> Django: </strong> Experienced in building web applications and APIs using
                                Django, focusing on secure and scalable solutions.</p>
                        </li>
                        <li>
                            <p><strong> Flask: </strong> Skilled in developing lightweight web applications and
                                microservices using Flask.
                            </p>
                        </li>
                        <li>
                            <p><strong> HTML, CSS, Javascript </strong> Experienced in Front-End Technologies for
                                creating interactive and user-friendly web interfaces.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="mb-2">
                    <div><strong>Databases and ORM</strong></div>
                    <ul class="mb-5">
                        <li>
                            <p><strong> SQL: </strong> Proficient in writing complex SQL queries for data retrieval and
                                manipulation.</p>
                        </li>
                        <li>
                            <p><strong> MySQL and PostgreSQL: </strong> Experienced in managing relational databases,
                                ensuring data integrity and performance.
                            </p>
                        </li>
                        <li>
                            <p><strong> SQLAlchemy and Django ORM: </strong> Skilled in using ORM (Object Relational
                                Mapping) tools for databases interactions in Python applications.
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="mb-2">
                    <div><strong>DevOps and Cloud Computing</strong></div>
                    <ul class="mb-5">
                        <li>
                            <p><strong> AWS: </strong> Proficient in various AWS services, including AWS Lambda, AWS
                                Glue, and AWS CDK(Cloud Development Kit) for building and developing cloud-based
                                solutions.</p>
                        </li>
                        <li>
                            <p><strong>Docker: </strong> Experienced in containerization with Docker, enabling
                                consistent and scalable application deployment.
                            </p>
                        </li>
                        <li>
                            <p><strong> CI/CD: </strong> Familiar with Continuous Integration and Continuous Deployment
                                practices to streamline development workflows.
                            </p>
                        </li>
                    </ul>
                </li>
            </ol>
            <h5 class="mt-5">Conclusion: </h5>
            <p>
                My journey in the finance and fintech sectors has been marked by continuous learning and innovation.
                Through SinghPrashant, I aim to share my expertise and experiences with a broader audience, helping
                others navigate the complex yet exciting world of machine learning, data science, and finance. Whether
                you're a seasoned professional or just starting your journey, I hope this blog will provide valuable
                insights and practical knowledge to help you succeed.

                Welcome to SinghPrashant – where finance meets innovation!
            </p>
        </div>
    </article><!--//about-section-->
{% endblock %}