{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'assets/plugins/highlight/styles/monokai-sublime.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/prism.css' %}">
    <script src="{% static 'assets/js/prism.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="">

    </div>
    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container single-col-max-width">
            <header class="blog-post-header">
                <h2 class="title mb-2">{{ post.title }}</h2>
                <div class="meta mb-3"><span class="date">{{ post.publish }}
                </span>
                    <span
                            class="time">{{ post.reading_time }}
                    </span>
                    <span class="comment disqus-comment-count" data-disqus-url="{{ post.get_absolute_url }}">
                        <a href="{{ post.get_absolute_url }}#disqus_thread"></a>
                    </span>
                </div>
            </header>

            <div class="blog-post-body">

                <figure class="blog-banner">
                    <a><img src="{{ post.article_image.url }}" alt="{{ post.title }}"></a>
                    <figcaption class="mt-2 text-center image-caption">Image Credit: <a class="theme-link"
                                                                                        href="#"
                                                                                        target="_blank">{{ post.title }}</a>
                    </figcaption>
                </figure>
                {{ post.body|safe }}

            </div>
            <div class="blog-comments-section">
                <div id="disqus_thread"></div>
            </div>
        </div><!--//container-->
    </article>



{% endblock %}