{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container single-col-max-width">
            {% for post in posts %}
                <div class="item mb-5">
                    <div class="row g-3 g-xl-0">
                        <div class="col-2 col-xl-3">
                            <img class="img-fluid post-thumb "
                                 src="{% static 'assets/images/blog/blog-post-thumb-1.jpg' %}" alt="image">
                        </div>
                        <div class="col">
                            <h3 class="title mb-1"><a class="text-link"
                                                      href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <div class="meta mb-1"><span
                                    class="date">Published {{ post.publish|naturaltime }}</span><span class="time">{{ post.reading_time }}</span><span
                                    class="comment"><a class="text-link" href="{{ post.get_absolute_url }}#discus_thread" data-disqus-identifier="{{ post.id }}"></a></span></div>
                            <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                                ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                montes, nascetur ridiculus mus. Donec quam felis, ultricies...
                            </div>
                            <a class="text-link" href="{{ post.get_absolute_url }}">Read more &rarr;</a>
                        </div><!--//col-->
                    </div><!--//row-->
                </div><!--//item-->
            {% endfor %}


            <div class="item">
                <div class="row g-3 g-xl-0">
                    <div class="col-2 col-xl-3">
                        <img class="img-fluid post-thumb" src="{% static 'assets/images/blog/blog-post-thumb-6.jpg' %}"
                             alt="image">
                    </div>
                    <div class="col">
                        <h3 class="title mb-1"><a class="text-link" href="blog-post.html">How to Build Desktop Apps with
                            HTML, CSS and JavaScript</a></h3>
                        <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">2 min read</span><span
                                class="comment"><a class="text-link" href="#">1 comment</a></span></div>
                        <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
                            ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                            montes, nascetur ridiculus mus. Donec quam felis, ultricies...
                        </div>
                        <a class="text-link" href="blog-post.html">Read more &rarr;</a>
                    </div><!--//col-->
                </div><!--//row-->
            </div><!--//item-->

            {% include "pagination.html" with page=posts %}

        </div>
    </section>
{% endblock %}
